form.signup,
form.login {
  margin-top: 50px;
}
.navbar-fixed nav {
  position: fixed;
  top: 0;

}
/* body {
  background-color: blue;
} */

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: absolute;
    opacity: 1;
     pointer-events: all; 